site_name: Steam Auto Shutdown
site_description: Automatically shuts down your computer when Steam downloads finish.
site_author: k0wl0n
repo_url: https://github.com/k0wl0n/steam-autoshutdown

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - content.code.copy

nav:
  - Home: index.md
  - Installation: installation.md
  - Usage: usage.md
